@import url(https://fonts.googleapis.com/css?family=Roboto);@import url(https://necolas.github.io/normalize.css/8.0.0/normalize.css);boxdy {
  height: 100vh;
  background-color: #878cdf;
  color: #99fbc6;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif; }

.containexxr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .containexxr .image_wrapper {
    display: inline-block;
    margin: 0 10px; }
    .containexxr .image_wrapper__image {
      width: auto;
      height: 300px; }
