@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://necolas.github.io/normalize.css/8.0.0/normalize.css');

$roboto: "Roboto", sans-serif;

body {
  font-family: $roboto;
}

#bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contentContainer {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

#mainTitle {
  background: gray;
margin: 0;
padding: 0.67em;
box-sizing: border-box;
width: 100%;
text-align: center;
}

#listsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listTitle {
    margin: 0;
    padding: 2.33em;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
}

#leftList {
  border-right: 1px solid black;
}

.list {
  min-height: 100px;
  max-height: 500px;
  overflow: scroll;
  height: 90vh;
}

.RIEInput {
  min-width: 20px;
  display: inline-block !important;
  min-height: 15px;
  &:hover {
    cursor: text;
  }
}

.titleContainer {
  width: 100%;
}
